/* @import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;600;800&display=swap');
*{

  font-family: 'Glory', sans-serif;
}

body{
  font-family: 'Glory', sans-serif;
} */



body{
  background-color: white !important;
} 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a:link {
  text-decoration: none;
}

td , th{
  font-size: 12px;
}
.imagetablehight{
  /* padding-bottom: 10px; */
  height: auto;
}


@media only screen and (max-width: 600px) {
	.mobilenone{
    display: none !important;
  }
  .destopnone{
    display: block !important;
  }
 .Block-btn , .unBlock-btn{
  font-size: 9px !important;
  padding: 2px 11px !important;
 }
}
.destopnone{
  display: none;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {

 .editbtnaccount{
 position: absolute !important;
  bottom: 10% !important;
  
 }
}